
@font-face {
    font-family: 'toyota_displaybold';
    src: url('fonts/toyotadisplay_bd-webfont.woff2') format('woff2'),
         url('fonts/toyotadisplay_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_textregular';
    src: url('fonts/text_rg-webfont.woff2') format('woff2'),
         url('fonts/text_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Tnga{
    font-family: 'toyota_textregular';
    font-size: 1.3vw;
    width: 100%;
}

.Tnga_Title{
	font-family: 'toyota_displaybold';
	font-size: 1.8em;
	color: #007ccd;
	padding: 20px  0px;
}

.Tnga_Title_white{
	font-family: 'toyota_displaybold';
	font-size: 15px;
	color: #FFFFFF;
	text-align: center;
	padding: 10px  0px;
}

.Tnga_Blue{
	color: #007ccd;
}
.Tnga_White{
	color: #FFFFFF;
}

.Tnga_Black{
	color: #000000;
}

.Tga_Text{
	font-size: 0.9em;
	margin: 20px auto 40px auto;
}

.Tnga_Grey{
	color: rgb(102,100,101);
}

.Tnga_SubTitle{
	font-family: 'toyota_displaybold';
	font-size: 1.2em;
	vertical-align: top;
	text-align: center;
}
.Tnga_Text{
	font-size: 2em;
	margin: 20px auto 40px auto;
}
.Tnga_Text2{
	font-size: 1em;
	margin: 20px 60px;
	line-height: 10px;
}
.text-left{
	text-align: left;
}



.Tnga_content{
	width: 65%;
	min-width: 300px;
	text-align: center;
	margin: 0 auto;
}

.Tnga .banner{
	padding-top: 73px;
	width: 100%;
    text-align: center;
    position: relative;
}
.img-0{
	opacity: 0;
}
.img-right{
	top: 0px;
	left: 500px;
	position: absolute;
}
.img-left{
	top: 0px;
	right: 500px;
	position: absolute;
}
.bar{
	width: 40px;
	height: 5px;
	display: block;
	margin: 10px auto;
	background-color: #000000;
}

#video_desc{
	padding-top: 30px;
	width: 100%;
	position: relative;
	min-height: 240px;
	overflow: hidden;
}

.text-animation{
	position: absolute;
	opacity: 0;
	width: 95%;
	left: 50%;
	transform: translateX(-50%);
}

.tnga_tantangan{
	background-color: #383838 ;
	padding-bottom: 30px; 

}

#tantangan_text{
	padding: 20px 20px;
	display: inline-block;
	font-size: 15px	;
	text-align: justify;
	position: relative;
	min-height: 300px;
	overflow: hidden;
	vertical-align: top;
}
#tantangan_img{
	width:60%;
	display: inline-block;
	text-align: left;
}
#tantangan_img img{
	width: 95%;
}


.domain{
	position: relative;
}

.domain-right{
	text-align: right;
}

.domain-left{
	text-align: left;
}

.domain-number{
	color: #007ccd;
	padding: 0px 20px;
	font-size: 24pt;
    font-weight: bold;
}
.domain-title{
	font-size: 20pt;
	padding: 0px 20px;
	line-height: 0.5em;
}
.domain-subtitle{
	padding: 0px 20px;
	font-size: 15px;
	text-align: justify;
	position: relative;
	margin-top: 3px;
}
.keunggulan-content{
	font-family: 'toyota_textregular';
	font-size: 10pt;
	padding: 0px 20px;
	margin-top: -14px;
}
.domain-text{
	width: 100%;
	text-align: justify;
	display: inline-block;
	position: relative;
	min-height: 10px;
	overflow: hidden;

}
.domain-right .domain-text{
	padding-right: 30px;   
}

.domain-left .domain-text{
	padding-left: 30px; 
}
.domain-img{
	width: 100%;
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}
.domain-right .img-0{
	opacity: 0;
}

.domain-right .img-right{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 300px;
}

.domain-left .img-left{
	opacity: 0;
	position: absolute;
	top: 0px;
	right: 300px;
}

.domain-left .img-0{
	opacity: 0;
}


.domain-left img,.domain-right img{
	opacity: 0;

}
.tnga_keunggulan{
	position: relative;
	vertical-align: top;
}

.keunggulan-text{
	position: relative;
	font-size: 12pt;
	overflow: hidden;
}

.tnga_keunggulan #bg-img1{
	position: absolute;
	width: 100%;
	top:0px;
	left: 0px;
	z-index: -1;
}
.tnga_keunggulan .domain-img, .tnga_keunggulan .domain-text  {
	vertical-align: top;
}

.tnga_keunggulan #bg-img2{
	position: absolute;
	width: 100%;
	 top: 50%;
    transform: translateY(-40%);
	left: 0px;
	z-index: -1;
}

.tnga_keunggulan #bg-img3{
	position: absolute;
	width: 100%;
	bottom :0px;
	left: 0px;
	z-index: -1;
}

#Tnga-misi{	
	position: relative;
	min-height: 150px;
	margin-bottom: 40px;
	overflow: hidden;
}
.Tnga-footer{
	text-align: center;
}

@media only screen and (max-width: 544px) {
	body{
		min-width: 280px !important;
	}

	.Tnga_Text{
		font-size: 3.5em;
		margin: 9px auto ;
		font-family: 'toyota_textregular';
		text-align: justify;
	}
	.domain-subtitle{
		padding: 0px 20px;
		font-size: 17px	;
		text-align: justify;
		position: relative;
	}
	.domain-subtitle2{
		padding: 0px 20px;
	font-size: 15px	;
	text-align: justify;
	position: relative;
	}

	.Tnga_Title{
		font-size: 20px;
	}
	.Tnga_Title_atas{
		font-family: 'toyota_displaybold';
		font-size: 4.2em;
		padding: 10px 10px;
		text-align: center;
		color: #007ccd;;
		font-weight: bold;
	}
	p.normal {
 	 font-weight: normal;
 	 font-family: 'toyota_textregular';
 	 font-size: 1em;
	 padding: 0px 20px;
	}





