@font-face {
    font-family: 'toyota_displaybold';
    src: url('fonts/toyotadisplay_bd-webfont.woff2') format('woff2'),
         url('fonts/toyotadisplay_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'toyota_textregular';
    src: url('fonts/text_rg-webfont.woff2') format('woff2'),
         url('fonts/text_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	max-width: 1900px;
	margin: auto;
	font-size: 12px;
}
.banner{
	margin-bottom: 40px;
	padding-top: 110px;
}
.banner img{ width: 100%; 
}
.banner-image{
	margin-bottom: 40px;
}
.banner-promo img{
	width: 93%;
	display: block;
  margin-left: auto;
  margin-right: auto;

}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

#jadwal{
	margin-top: 72px;
}

.Hybrid_top{
	width: 100%;
	display: block;
	height: 72px;
	background-color: #FFFFFF;
	top: 0px; position: fixed; z-index: 2;
}
.Hybrid_menu{
	top: 72px; position: fixed; z-index: 2;
	text-align: right;
	background-color: #000000;
	color:#FFFFFF;
	width: 100%;
	height: 40px;
	line-height: 14px;
	display: block;
}
.Hybrid_menu ul li{
	display: inline-block;
	padding-right: 30px;
}
.page-title{
	font-family: toyota_displaybold;
	width: 100%;
	padding: 40px 0px 160px 0px;
	text-align: center;
	font-size: 1.7em;
	color: #FFFFFF;
	position: absolute; 
	bottom: -110px;


}
.title{
	font-family: toyota_displaybold;
	font-size: 3.5em;
	padding: 20px 0px 0px 220px;
}

.text-blue{
	color: #1E90FF;
}

.pageContainer{
	width: 100%;
}
.pageContent{
	width: 70%;
    min-width: 300px;
    margin: 0 auto;
    padding: 30px 20px;
}
.pageContainer img{
	width: 100%;
}

.jadwal-item1{
	width: 25% ;
	display:inline-block;
	vertical-align: top;
}
.jadwal-item2{
	width: 45% ;
	display:inline-block;
}

.text1{
	font-size: 1.8em;
	font-weight: bold;
	padding: 0px;
	line-height: 1em;
}

.text2{
	color:#fc0001;
	font-size: 3.8em;
	font-weight: bold;
	padding: 0px;
	line-height: 1em;
}

.whatson{
	font-family: toyota_displaybold;
	color: #000000;
	font-size: 48px;
	padding: 0px 80px 0px 280px;
}
.whatson2{
	font-family: toyota_displaybold;
	color: #1E90FF;
	font-size: 28px;
	padding: 0px 80px 0px 280px;
}
.whatson3{
	font-family: toyota_textregular;
	color: #bfbfbf;
	padding-top: 25px; 
	padding-bottom: 10px;
	font-size: 28px;
	padding: 30px 80px 50px 280px;

}
.ask{
	font-family: toyota_textregular;
	color: 	#0080ff;
	font-size: 28px;
}
.cask{
	font-family: toyota_textregular;
	color: 	#0080ff;
	font-size: 28px;
}
.bg-grey{
	background-color: #f0f0f0;
	padding: 60px 80px 70px 280px;
}

.question{
	font-family: toyota_displaybold;
	color: #000000;
	font-size: 36px;
	padding-bottom: 19px;
}
.pageContainer{
	width: 100%;
}

.pageContainer img{
	width: 100%;
}
.event-desc{
	text-align: left;
	padding: 10px;
	font-family: toyota_textregular;
	font-size: 26px;
}
.pageContent{
	width: 70%;
    min-width: 300px;
    margin: 0 auto;
    padding: 30px 20px;
}
.c-6{
	display: inline-block;
	width: 46%;
}
.event-title{
	text-align: left;
	padding: 15px;
	font-family: toyota_displaybold;
	font-size: 39px;
	color: #0080ff;
}
.event-subtitle{
	padding: 15px;
	text-align: left;
	font-family: toyota_displaybold;
	font-size: 38px;
	color: #cccccc;
}
.topic{
	font-family: toyota_textregular;
	color: 	#0080ff;
	font-size: 28px;
	position: relative;
}
.sub-topic{
	font-family: toyota_displaybold;
	color: #000000;
	font-size: 36px;
	padding-bottom: 19px;
	position: relative;
}
.topic-content{
	margin-top: -55px;
	margin-left: 394px;
	position: relative;
}
.red-button{
	width: 360px;
	padding-top: 45px;
}
.syarat{
	font-family: toyota_textregular;
	font-size: 18px;
	padding-top: 18px;
}
.faq{
	border-radius: 10px 10px 0px 0px;
	border: solid 1px  #CCC;
	margin-bottom: 20px;
}

.table-list{
	display: none;
}
.table-list.active{
	display: block;
}

.faq-body{
	font-family:toyota_texregular;
	padding: 0px 25px;
	display: none;
	font-size: 16px;
}

.faq-body.active{
	display: block;
}
.faq-body ul, .faq-body ol{
	padding-left:25px;
}

.faq-header{
	font-family: toyota_displaybold;
	padding: 20px 25px;
	border-radius: 10px 10px 0px 0px;
	cursor: pointer;
	font-size: 20px;
}
.promo-header{
	font-family: toyota_displaybold;
	padding: 20px 25px;
	border-radius: 10px 10px 0px 0px;
	cursor: pointer;
	font-size: 32px;
	color: #1e90ff;
}
.promo-title{
	padding: 15px;
	text-align: left;
	font-family: toyota_displaybold;
	font-size: 38px;
	color: #1e90ff;
}
.promo-isi{
	font-family: toyota_textregular;
	font-size: 20px;
	text-align: justify;
}
.promo-body{
	font-family:toyota_textregular;
	padding: 0px 25px;
	display: none;
	font-size: 19px;
}
.promo-body.active{
	display: block;
}
.promo-body ul, .promo-body ol{
	padding-left:25px;
}
.e-image{
	width: 390px;
	padding:30px;
}
.sub-booth{
	font-family: toyota_displaybold;
	color: #bfbfbf;
	padding-top: 25px; 
	padding-bottom: 10px;
	font-size: 28px;
	padding: 0px 80px 50px 180px;
}
.jadwal-tempat{
	padding: 60px 80px 70px 280px;
	margin-bottom: 40px;
}