
@font-face {
    font-family: 'toyota_displaybold';
    src: url('fonts/toyotadisplay_bd-webfont.woff2') format('woff2'),
         url('fonts/toyotadisplay_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_textregular';
    src: url('fonts/text_rg-webfont.woff2') format('woff2'),
         url('fonts/text_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.tarra{
    font-family: 'toyota_textregular';
    font-size: 4vw;
	background-color: #e8f6f6;
	padding-bottom: 70px;
}
body{
		min-width: 280px !important;
	}
.tarra img{
	max-width: 100%;	   
}

#tarraTop{
	width: 100%;
	display: block;
	position: fixed;
	top: 0px;

}
.tarra .banner img{
	width: 100%;
}
.tarra .content{
	width: 80%;
	margin: 0 auto;
}

.tBlue{
	color: #1c73b6;
}
.section1{	
	background-color: #e8f6f6;
	padding: 40px 0px;
}
.title1{
	font-size: 1.5em;
	font-weight: bold;
}
.text1{
	margin-top: 20px;
	font-size: 1.2em;
}

.section2{
	background: linear-gradient(180deg, #e8f6f6 10%, #0073b9 10%);
}
.section3{	
	background-color: #e8f6f6;
	padding: 40px 0px;
}
.Desc{
	width: 100%;
	padding:10px 0px 30px 0px;
	color: #FFFFFF;
	display: block;
}
#desc1{
	background-color: #17949f;
}
#desc2{
	background-color: #a1871b;
}
#desc3{
	background-color: #d02d31;
}
#desc4{
	background-color: #c1c1c1;
}
.descTitle{
	margin-top: 20px;
	font-weight: bold;
}
.section4{
	background-color: #FFFFFF;
}
.tanya{
	width: 50%;
	padding: 40px 0px;
	margin: 0 auto;
}
.title2{	
	font-size: 1.6em;
	font-weight: bold;
}
.chat{
	margin: 10px auto;
	font-weight: bold;
	font-size: 1.2em;
}
.chat-logo{
	width: 50px;
	margin-right: 10px;

}