@font-face {
    font-family: 'toyota_displaybold';
    src: url('fonts/toyotadisplay_bd-webfont.woff2') format('woff2'),
         url('fonts/toyotadisplay_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'toyota_textregular';
    src: url('fonts/text_rg-webfont.woff2') format('woff2'),
         url('fonts/text_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	max-width: 1900px;
	margin: auto;
}
div#tarra-container{
	margin-top: 72px;
	background: url("assets/background.png");
	position: relative;
}
div#banner{
	background: url("assets/background-banner.png");
	background-size: cover;
}
div#tarra-banner{
	max-width: 1024px;
	width: 85%;
	margin: auto;
	padding-top: 90px;
	position: relative;
}
#tarra-banner img#chat-aja{
	width: 600px;
	position: absolute;
	right: 0px;
}
#tarra-banner #chat-desc{
	position: relative;
}
#phone-group{
	z-index: 100;
	margin-top: -90px;
	position: inherit;
}
div#transbox-top{
	top: 0px;
	width: 100%;
	background: url("assets/trans-box-top.png");
	height: 50px;
}
div#tarra-features{
	width: 100%;
	margin: auto;
}
#tarra-features  img{
	width: 100%;
}
#tarra-sugestion {
	padding: 40px 0px;
	text-align: center;
	background: #fff;
}
div.separator{
	height: 50px;
	background: #ddeff3;
}
#tarra-sugestion p{
	margin-top: 0px;
	font-size: 20pt;
	font-family: "toyota_displaybold";
	color: blue;
}
#tarra-sugestion span.socials{
	font-family: "toyota_textregular";
	font-weight: 600;
	font-size: 1.2em;
	color: black;
}

.sugestion-box{
	width: 150px;
	display: inline-block;
}
.sugestion-img{
	width: 45px;
	height: 45px;
}
.desc{
	font-family: 'toyota_textregular';
    color: #FFFFFF;
	position: relative;
	display: block;
}
.desc-txt1{
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	width: 30%;
	position: absolute;
}
.desc-txt2{
	top: 50%;
	left:  5%;
	transform: translateY(-50%);
	width: 30%;
	position: absolute;
}

.descTitle{
    font-size: 1.3em;
	font-weight: bold;
}
.descText{	
    font-size: 1em;
	margin-bottom: 20px;
}

#txt_banner1{
	font-size: 18pt;
	font-family: "toyota_displaybold";
	color: #1c72b6;
}
#txt_banner2{
	font-size: 16pt;
	font-family: "toyota_displaybold";
	color:  #1c72b6;
}
#txt_banner3{
	margin-top: 20px;
	font-size: 14pt;
	font-family: "toyota_textregular";
	color:  #1c72b6;
}
#chat-aja_txt{
	width: 600px;
	position: absolute;
	right: 0px;
	text-align: center;
}
#chat-aja_txt1{	
	padding-top: 25px;
	font-size: 38pt;
	font-family: "toyota_displaybold";
	color: #878786;
}

#chat-aja_txt2{	
	font-size: 38pt;
	font-family: "toyota_displaybold";
	color: #1c72b6;
}