
@font-face {
    font-family: 'toyota_displaybold';
    src: url('fonts/toyotadisplay_bd-webfont.woff2') format('woff2'),
         url('fonts/toyotadisplay_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_textregular';
    src: url('fonts/text_rg-webfont.woff2') format('woff2'),
         url('fonts/text_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Tnga{
    font-family: 'toyota_textregular';
    font-size: 1.3vw;
}
.Tnga_Title_Big{
	font-family: 'toyota_textregular';
	font-size: 3.5em;
	font-weight: bold;
	color: #007ccd;
	padding: 20px  0px;
}

.Tnga_Title{
	font-family: 'toyota_displaybold';
	font-size: 1.8em;
	color: #007ccd;
	padding: 20px  0px;
}

.Tnga_Title_white{
	font-family: 'toyota_displaybold';
	font-size: 1.8em;
	color: #FFFFFF;
	padding: 20px  0px;
}

.Tnga_Blue{
	color: #007ccd;
}
.Tnga_White{
	color: #FFFFFF;
}

.Tnga_Black{
	color: #000000;
}


.Tnga_Grey{
	color: rgb(102,100,101);
}

.Tnga_SubTitle{
	font-family: 'toyota_displaybold';
	font-size: 1.2em;	
	padding: 10px 0px;
	vertical-align: top;
}
.Tnga_Text{
	font-size: 0.9em;
	margin: 20px auto 40px auto;
}
.text-left{
	text-align: left;
}



.Tnga_content{
	width: 65%;
	min-width: 300px;
	text-align: center;
	margin: 0 auto;
}

.Tnga .banner{
	text-align: center;
	width: 100%;
}
.Tnga .banner img{
	width: 100%;
}
.Tnga img{
   max-width: 100%;
}
.bar{
	width: 100px;
	height: 5px;
	display: block;
	margin: 10px auto;
	background-color: #000000;
}

#video_desc{
	width: 100%;
	position: relative;
	min-height: 240px;
	overflow: hidden;
}

.text-animation{
	position: absolute;
	top:100px;
	opacity: 0;
	width: 95%;
	left: 50%;
	transform: translateX(-50%);
}

.tnga_tantangan{
	background-color: #383838 ;
	padding-bottom: 30px; 

}

#tantangan_text{
	width: 50%;
	padding: 20px 20px;
	display: inline-block;
	text-align: left;
	position: relative;
	min-height: 300px;
	overflow: hidden;
	vertical-align: top;
}
#tantangan_img{
	width: 45%;
	padding-top: 40px;
	display: inline-block;
	text-align: left;
}
#tantangan_img img{
	width: 95%;
}
.img-static{
	opacity: 0;

}

.domain{
	position: relative;
}

.domain-right{
	text-align: right;
}

.domain-left{
	text-align: left;
}

.domain-number{

	font-family: 'toyota_textregular';
	color: #007ccd;
	font-size: 3.5em;
    margin-top: 20px;
}
.domain-title{
	font-size: 1.6em;
}
.domain-subtitle{
	font-size: 1.2em;
}


.domain-text{
	width: 30%;
	text-align: left;
	display: inline-block;
	position: relative;
	min-height: 300px;
	overflow: hidden;

}
.domain-right .domain-text{
	padding-right: 30px;   
}

.domain-left .domain-text{
	padding-left: 30px; 
}
.domain-img{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}
.domain-right .img-0{
	opacity: 0;
}

.domain-right .img-right{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 300px;
}

.domain-left .img-left{
	opacity: 0;
	position: absolute;
	top: 0px;
	right: 300px;
}

.domain-left .img-0{
	opacity: 0;
}


.domain-left img,.domain-right img{
	opacity: 0;

}
.tnga_keunggulan{
	position: relative;
	vertical-align: top;
}

#keunggulan-text{
	position: relative;
	min-height: 150px;
	overflow: hidden;
}

.tnga_keunggulan #bg-img1{
	position: absolute;
	width: 100%;
	top:0px;
	left: 0px;
	z-index: -1;
}
.tnga_keunggulan .domain-img, .tnga_keunggulan .domain-text  {
	vertical-align: top;
}

.tnga_keunggulan #bg-img2{
	position: absolute;
	width: 100%;
	 top: 50%;
    transform: translateY(-40%);
	left: 0px;
	z-index: -1;
}

.tnga_keunggulan #bg-img3{
	position: absolute;
	width: 100%;
	bottom :0px;
	left: 0px;
	z-index: -1;
}

#Tnga-misi{	
	position: relative;
	min-height: 150px;
	margin-bottom: 40px;
	overflow: hidden;
}
.Tnga-footer{
	text-align: center;
}