
 .motorsport-table {
    color: #fff;
    padding: 1em;
    width: 100%;
 }
 .motorsport-table th {
    border: solid 1px #fff;
     padding: 1em;
 }
 .motorsport-table tr td {
    padding: 1em ;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
 }
 .motorsport-table tbody tr:last-child td {
    border-bottom: solid 1px #fff;
 }
 .tam-modif.caption-right .captionProduct.captionMotorsport {
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: 1;
    color: #fff 
 }
 .tam-modif.caption-left .captionProduct.captionMotorsport {
    position: absolute !important;
    left: : 0;
    top: 0;
    z-index: 1;
    color: #fff 
 }
 .page-profile .row {
    width: 80em
 }
 .page-profile .detailFactSheet {
    border: none !important;
 }
 .page-profile .detailFactSheet .imgFactSheet {
    padding-right: 0 !important;
 }
 .page-profile .detailFactSheet .contentFactSheet {
    padding-left: 2em !important;
    padding-top: 3em !important;
 }
 .motorsport-partners {
    background: #FFFFFF;
    text-align: center;
    color: #d21313;
    display: table;
    padding: 2em;
    margin-bottom: 1em;
 }
 .motorsport-partners ul li {
    list-style: none;
    float: left;
    margin:10px;
    width: 30%;
    height: 70px;
    text-align: center;
 }
  .motorsport-partners ul li img {
    height: 100%;
    width: auto;
 }


 /*emc css*/
 .isiProduk .captionProduct{
    width: 550px;
 }

  .isiProduk ul.list {
    margin: 10px ;
  }
 .isiProduk ul.list li, .isiProduk ul.list li:first-child{
    list-style: disc;
    color: #FFFFFF;
    padding: 0px;
    display: list-item;
    border: none;
    margin: 0px 25px;
    line-height: 1.4em;
 }

.captionContainer{
    width: 350px;
    padding: 40px 30px;
}

 .bannerProfile .captionBanner .titlebanner{
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.7) ;
 }


 .sejarah1{
    width: 100%;
    height: 350px;
    padding: 10px;
    display: block;
    background-image: url('image_motorsport/sejarah1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 }
 .sejarah2{
    width: 100%;
    height: 350px;
    padding: 10px;
    display: block;
    background-image: url('image_motorsport/sejarah2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 }

 .bagan{
    width: 100%;
    height: 450px;
    padding: 10px;
    display: block;
    background-image: url('image_motorsport/bg-bagan.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 }
 .baganImg{
    width: 70%;
    margin:0 auto;
 }
 .baganImg img{
    width: 100%;
 }

 .schedule{
    width: 600px;
    margin: 40px auto ;
 }
 .schedule h1{
    font-size: 2em;
    color: #e41d24;
    font-weight: bold;
 }
 .schedule table{
       margin:  0 auto;
        width: 640px;

 }
 .schedule col:first-child {background: #e7e8ea ;}
 .schedule col:nth-child(2n+3) {background: #e7e8ea;}

 .schedule td{
    padding: 5px 15px;
    vertical-align: middle;
 }
 .schedule .darkGrey{
    background-color: #d7d7d7 ;
 }
 .darkGreyMei{
    background-color: #d7d7d7 ;
 }
 .schedule .darkGrey td{
    line-height: 0px;
 }


 .btnTabContainer{
    border: solid thin #FFFFFF;
    border-radius: 7px;
    padding: 3px;
    display: block;
    text-align: center;
 }
 .categoryTab{
    width: 250px;   
    margin: 15px 0px;         
 }
 .tabSlalom{
    width: 200px;            
 }
 .tabTouring{
    width: 100px;            
 }
 a.btnTab{
    background-color: transparent;
    border-radius: 7px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0px 20px;
    font-weight: bold;
    cursor: pointer;

 }
 a.btnTab.active{
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 0px 20px;
    display: inline-block;
    color: #c20702;

 }
 .separate{
    display: inline-block;
    color: #FFFFFF;
 }

 .lineUpContainer{
    width: 100%;
    height: 370px;
    background-image: url("image_motorsport/car-lineup-bg.jpg");
    background-position: center center;
    background-size: cover;
 }

 .carLineUp{
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%) ;

    width: 70%;
    z-index: 1;

 }
 .raceCategory{
    width: 100%;
    min-height: 200px;  
    display: none;
 }
 .raceCategory.active{            
    display: block;
 }

 .LineUpDetail{
    width: 50%;
    display: block;
    float: left;
    height: 150px;
    color: #FFFFFF;
 }
 .LineUpImg{
    width: 50%;
    display: block;
    float: right;
    position: relative;
 }
 .LineUpImg img{
    position: absolute;
    height: 300px;
    width: auto;
    max-width: fit-content;
    top:-90px;
    left: -90px;
 }
 .titleWhite{
    color: #FFFFFF;
    font-size: 2em;
 }

 .slalomCar,.touringCar{
    display: none;

 }
 .slalomCar.active,.touringCar.active{
    display: block;
 }

 .racerProfile{
    background-image: url('image_motorsport/profile-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
 }

 .profileContainer{
     width: 710px;
     height: 290px;
     margin: 100px auto;
     background-image: url(image_motorsport/profile-bg.png);
     background-size: contain;
     background-repeat: no-repeat;
     position: relative;
 }
 .profileContainer img{
    position: absolute; 
    left: 0px; 
    bottom: 0px; 
    height: 345px;
 }
 .profileTitle{
    position: absolute; 
    left: 185px;
    top: -50px;
    font-size: 2em;
    font-weight: bold;
    color:#c42424;
 }
 .profileDetail
 {
    display: inline-block;
     margin-left: 210px;
     font-size: 0.8em;
     margin-top: 15px;
     color: #FFFFFF;
 }
 .profileDetail ul{
    margin-left: 0px;
    padding-left: 15px;
    list-style: disc;
 }
 .font7{
    font-size: 0.75em;
 }

 .achievementTab{
    margin: 40px auto;
 }
 .achievementTab a{
    background-color: transparent;
    border-radius: 7px;
    border: solid thin #c42424 ;
    color: #c42424;
    display: inline-block;
    padding: 0px 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
    margin-bottom: 10px;

 }
 .achievementTab a.active{
    background-color: #c42424;
    border-radius: 7px;
    padding: 0px 20px;
    display: inline-block;
    color: #FFFFFF;

 }
 .achievementDetail{
    display: none;
 }
 .achievementDetail.active{
    display: block; 
 }


 .schedule .achievementTable{
    margin-bottom: 20px;
 }
 .achievementTable tr:nth-child(even) {background: #FFF}
 .achievementTable tr:nth-child(odd) {background:#E7E7E7}
 .achievementTable th {background: #CCC; padding: 10px;}
 .achievementYear{            
    color: #e41d24;
    font-size: 1em;
    font-weight: bold;

 }

@media only screen and (max-width: 961px) and (max-device-width: 961px) {
    body{
       width: 100%;
       min-width: 300px;
       margin: 0 auto;
       font-size: 12px;
    }


    .captionContainer{
        width: 100%;
        padding: 0px 0px;
    }

     .bannerProfile .captionBanner .titlebanner{
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        padding: 0px;
        background-color: rgba(0,0,0,0.7) ;
        font-size: 1.5em;
     }


     .menuTumbsBlack  .sizeOwner{
       padding: 0px;
       float: none;
       white-space: nowrap;
       overflow-x: auto;
       font-size: 1.5em;
    }
     .sizeOwner ul{
       display: inline-table;
     }
    .sizeOwner ul li{

       float: none;
       width: auto;
       text-align: center;
       display: table-cell;
       overflow: auto;
    }
    .bannerProfile .detailProfile {
        text-align: center;
        width: auto;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }

    .schedule{
       width: 90%;
       margin: 10px auto ;
    }
    .schedule table{
       margin:  0 auto;
        width: 100%;
       font-size: 0.8em;

    }
    .isiProduk .captionProduct{
        width: 50%;
        padding: 0px;

    }
    .tam-modif.posisi-left {
        left: 10%;
    }
    .tam-modif.posisi-right {
        right: 5%;
    }

    .sejarah1{
       width: 100%;
       height: 350px;
       padding: 10px;
       display: block;
       background-image: url('image_motorsport/sejarah1.jpg');
       background-repeat: no-repeat;
       background-position: 50% center;
       background-size: cover;
    }
    .sejarah2{
       width: 100%;
       height: 350px;
       padding: 10px;
       display: block;
       background-image: url('image_motorsport/sejarah2.jpg');
       background-repeat: no-repeat;
       background-position: 50% center;
       background-size: cover;
    }

    .bagan{
       width: 100%;
       height: auto;
       padding: 10px;
       display: block;
       background-image: url('image_motorsport/bg-bagan.png');
       background-repeat: no-repeat;
       background-position: center center;
       background-size: cover;
    }
    .baganImg{
       width: 100%;
       margin:0 auto;
    }
    .baganImg img{
       width: 100%;
    }

    .carLineUp{
       position: absolute;
       top: 20px;
       left: 50%;
       -webkit-transform: translateX(-50%);
       transform: translateX(-50%) ;

       width: 80%;
       z-index: 1;

    }
    .LineUpDetail{
       width: 90%;
       display: block;
       float: left;
       height: 70px;
       color: #FFFFFF;
    }
    .LineUpImg{
       width: 90%;
       display: block;
       float: right;
    }

    .LineUpImg img{
       height: 120px;
       position: unset;
    }

    .carTab{
       width: 260px;            
    }

    .profileContainer{
        width: 100%;
        height: 250px;
        margin: 70px auto;
        background-image: url(image_motorsport/profile-bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }
    .profileContainer img{
       position: absolute; 
       left: 0px; 
       bottom: 0px; 
       height: 245px;
    }
    .profileTitle{
       position: absolute; 
       left: 80px;
       top: -50px;
       font-size: 2em;
       font-weight: bold;
       color:#c42424;
    }
    .profileDetail {
           display: inline-block;
           margin-left: 30%;
           font-size: 0.9em;
           margin-top: 15px;
           color: #FFFFFF;
       }
    .profileDetail ul{
       margin-left: 0px;
       padding-left: 15px;
       list-style: disc;
    }
    .font7{
       font-size: 0.75em;
    }
    .tam-modif.caption-right .tamsld-control-paging {
        left: 0px;
        right: 0%;
        text-align: left;
    }
    .slideProduct .tamsld-control-paging{
       width: 100%;
       bottom: 2em;
       text-align: center;
       left: 0%;
       z-index: 2;
    }
    .wd95 {
     width: 100%;
    }
    .motorsport-partners ul li {
     list-style: none;
     float: left;
     margin: 10px auto;
     width: 30%;
     height: auto;
     text-align: center;
    }
}

 @media only screen and (max-width: 481px) and (max-device-width: 481px) {
    .isiProduk .captionProduct{
        width: 70%;
        padding: 0px;

    }
    .profileDetail
    {
       display: inline-block;
        margin-left: 22%;
        font-size: 0.8em;
        margin-top: 15px;
        color: #FFFFFF;
    }
     .profileContainer img{
       position: absolute; 
       left: 0px; 
       bottom: 0px; 
       height: 145px;
    }
    
    .motorsport-partners ul li {
        list-style: none;
        float: left;
        margin: 10px auto;
        width: 80%;
        height: auto;
        text-align: center;
    }
    .motorsport-partners ul li img{
        width: 100%;
        height: auto;
    }
 }


